{% extends 'base.html.twig' %}

{% block content %}
    {% if error is not empty %}
        <div class="col-sm-12">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}